// select
// ----------------------------------------

@use 'variables';

md-select-menu {
  md-content {
    background: variables.$select-content-bg;

    md-option {
      color: variables.$select-content-text;

      &[selected],
      &:not([disabled]):focus,
      &:not([disabled]):hover {
        color: variables.$select-content-text-selected;
      }

      &:not([disabled]):focus,
      &:not([disabled]):hover {
        background: variables.$select-content-bg-hover;
      }
    }
  }
}
