// ov-toolbar
// ----------------------------------------

@use 'variables';

ov-toolbar {
  background-color: variables.$toolbar-bg;
  color: variables.$toolbar-text;
  box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2),0 1px 1px 0 rgba(0, 0, 0, 0.14),0 2px 1px -1px rgba(0, 0, 0, 0.12);

  a {
    color: variables.$toolbar-text;
    text-decoration: none;
    border-bottom: 1px solid variables.$toolbar-text;

    &:hover,
    &:focus {
      color: variables.$toolbar-text-hover;
      box-shadow: 0 1px 0 variables.$toolbar-text-hover;
    }
  }

  md-icon {
    color: variables.$toolbar-text;

    [dir="rtl"] & {
      transform: rotate(180deg);
    }
  }

  md-input-container {
    margin: 0;
  }

  md-select {
    .md-select-value {
      border-bottom-color: variables.$toolbar-text;
    }

    &:not([disabled]):focus,
    &:not([disabled]):hover {
      .md-select-value {
        border-bottom-color: variables.$toolbar-text;
        color: variables.$toolbar-text;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        padding-bottom: 0;
      }
    }
  }

  .md-button {
    &.md-primary {
      &.md-raised:not([disabled]),
      &.md-fab:not([disabled]) {
        background-color: variables.$toolbar-primary-bg;
        color: variables.$toolbar-primary-text;

        md-icon {
          color: variables.$toolbar-primary-text;
        }

        &:hover,
        &:focus,
        &.md-focused {
          background-color: variables.$toolbar-primary-bg-hover;
        }
      }
    }

    &.md-secondary {
      &.md-raised:not([disabled]),
      &.md-fab:not([disabled]) {
        background-color: variables.$toolbar-secondary-bg;
        color: variables.$toolbar-secondary-text;

        md-icon {
          color: variables.$toolbar-secondary-text;
        }

        &:hover,
        &.md-focused {
          background-color: variables.$toolbar-secondary-bg-hover;
        }
      }
    }
  }
}

// within dialog
md-dialog {
  md-toolbar {
    margin: 0;
    background-color: variables.$toolbar-bg-light;
    color: variables.$toolbar-bg-light-text;
  }
}
