<!--
  (c) Copyright 2023 Swiss Post Ltd.
-->
<div class="d-flex flex-column align-items-end gap-2">
  <button
    #mainButton
    (blur)="removeMessages()"
    (click)="openCandidateSelectionModal()"
    aria-describedby="candidate-{{candidateIndex}}-selected candidate-{{candidateIndex}}-deleted"
    class="btn btn-outline-dark w-100"
    type="button"
  >
    <ng-container *ngIf="candidate; else chooseCandidate">
      {{ 'listandcandidates.change' | translate }}
      <span class="visually-hidden">{{ 'listandcandidates.currentcandidateis' | translate }} {{ candidate?.details?.candidateType_attribute1 }}</span>
    </ng-container>

    <ng-template #chooseCandidate>
      <span aria-hidden="true">{{ 'listandcandidates.choose' | translate }}</span>
      <span class="visually-hidden">{{ 'listandcandidates.choosecandidate.screenreader' | translate: {
        position: candidateIndex +
            1
      } }}</span>
    </ng-template>
  </button>

  <p
      *ngIf="showSelectionMessage"
      aria-live="polite"
      class="visually-hidden"
      id="candidate-{{candidateIndex}}-selected"
      role="region"
  >
    {{ 'listandcandidates.choosecomplete.screenreader' | translate }}
  </p>

  <p
      *ngIf="showDeletionMessage"
      aria-live="polite"
      class="visually-hidden"
      id="candidate-{{candidateIndex}}-deleted"
      role="region"
  >
    {{ 'listandcandidates.clearcomplete.screenreader' | translate }}
  </p>

  <div *ngIf="candidate" class="d-flex align-items-center justify-content-between gap-2">
    <ng-container *ngIf="candidateMaxCumul > 1">
      <button
          (blur)="removeMessages()"
          (click)="cumulateCandidate()"
          [disabled]="!unoccupiedSeat || !candidateCanCumulate"
          aria-describedby="candidate-{{candidateIndex}}-cumulated candidate-{{candidateIndex}}-max-cumul-reached candidate-{{candidateIndex}}-no-more-seat"
          class="btn btn-link"
          type="button"
      >
        <swp-icon name="plus-lg"></swp-icon>
        {{ 'listandcandidates.cumulate' | translate }}
        <span class="visually-hidden">{{ 'listandcandidates.currentcandidateis' | translate }} {{ candidate?.details?.candidateType_attribute1 }}</span>
      </button>

      <p
          *ngIf="showCumulationMessage"
          aria-live="polite"
          class="visually-hidden"
          id="candidate-{{candidateIndex}}-cumulated"
          role="region"
      >
        {{ 'listandcandidates.cumulatecomplete.screenreader' | translate: { candidate: candidate } }}
      </p>

      <p
          *ngIf="!candidateCanCumulate"
          aria-live="polite"
          class="visually-hidden"
          id="candidate-{{candidateIndex}}-max-cumul-reached"
          role="region"
      >
        {{ 'listandcandidates.maxcumulreached.screenreader' | translate }}
      </p>

      <p
          *ngIf="!unoccupiedSeat"
          aria-live="polite"
          class="visually-hidden"
          id="candidate-{{candidateIndex}}-no-more-seat"
          role="region"
      >
        {{ 'listandcandidates.nomoreavailableseat.screenreader' | translate }}
      </p>
    </ng-container>

    <button
        (click)="clearCandidate()"
        *ngIf="candidate"
        class="btn btn-link"
        type="button"
    >
      <swp-icon name="x-lg"></swp-icon>
      {{ 'listandcandidates.clear' | translate }}
      <span class="visually-hidden">{{ 'listandcandidates.currentcandidateis' | translate }} {{ candidate?.details?.candidateType_attribute1 }}</span>
    </button>
  </div>
</div>
