<div class="datatable-controls">
    <h2 class="sr-only" translate>Ballots</h2>
    <div class="datatable-actions">
        <div class="datatable-actions-main">
            <md-button aria-label="{{'Update' | translate}}"
                       class="md-primary md-raised"
                       id="update"
                       ng-click="update()"
                       ng-disabled="!isThereLockedBallot() || updateInProgress"
                       ng-if="isSetupMode()">
                <span ng-if="!updateInProgress">
                    <md-icon aria-label="{{'Update' | translate}}" md-svg-src="assets/icons/ic_link_24px.svg"></md-icon>
                </span>
                <span ng-if="updateInProgress">
					<md-icon aria-label="{{'Update' | translate}}" class="spin" md-svg-src="assets/icons/ic_spinner_24px.svg"></md-icon>
				</span>
                <span class="hide-xs" translate>Update</span>
            </md-button>
        </div>
    </div>
</div>

<div class="datatable-data">
    <table class="table">
        <caption></caption>
        <thead>
        <tr>
            <td class="table-batchselector">
                <md-checkbox aria-label="{{'Checkbox' | translate}}" class="md-datatable-theme md-primary" data-ng-model="selectAll"
                             ng-change="onSelectAll(selectAll)" ng-hide="true"></md-checkbox>
            </td>
            <th class="col" scope="col">
                <span class="no-wrap" title="{{'Title'|translate}}" translate>Title</span>
            </th>
            <th scope="col">
                <span class="no-wrap" title="{{'Ballot ID'|translate}}" translate>Ballot ID</span>
            </th>
            <th class="col" scope="col">
                <span class="no-wrap" title="{{'Ballot Boxes'|translate}}" translate>Ballot Boxes</span>
            </th>
            <th scope="col">
                <span class="no-wrap" title="{{'Status'|translate}}" translate>Status</span>
            </th>
            <th scope="col">
                <span class="no-wrap" title="{{'Linked Contests'|translate}}" translate>Linked Contests</span>
            </th>
            <th scope="col">
                <span class="no-wrap" title="{{'Details'|translate}}" translate>Details</span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="ballot in ballots.result track by $index">
            <td class="table-batchselector">
                <md-checkbox aria-label="{{'Ballot Checkbox' | translate}}" class="md-datatable-theme md-primary" data-ng-model="selectAll"
                             ng-change="onSelectAll(selectAll)" ng-hide="true"></md-checkbox>
            </td>
            <td class="col">{{ballot.defaultTitle}}</td>
            <td>{{ballot.id}}</td>
            <td class="col">{{ballot.ballotBoxes | sparse}}</td>
            <td><span class="no-wrap" title="{{capitalizeFirstLetter(ballot.status) | translate}}">{{capitalizeFirstLetter(ballot.status) | translate}}</span>
            </td>
            <td><span class="no-wrap" ng-bind-html="linkedContests(ballot.contests)"></span></td>
            <td><span class="no-wrap" title="{{ballot.details | translate}}">{{ballot.details | translate}}</span></td>
        </tr>
        </tbody>
    </table>
</div>
