/*
 * (c) Copyright 2023 Swiss Post Ltd.
 */
@use "styles/bootstrap-overrides" as app;

.alert {
  swp-icon:first-child {
    font-size: app.$font-size-lg;
    max-height: app.$line-height-base * app.$font-size-base;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
