<!--
  (c) Copyright 2023 Swiss Post Ltd.
-->
<ngb-accordion #accordion="ngbAccordion" [activeIds]="id">
  <ngb-panel [id]="id" [cardClass]="cardClass">
    <ng-template ngbPanelTitle>
      <span class="d-flex justify-content-between align-items-center w-100 pe-3">
        <span class="ballot-group-title">
          <span class="d-block h4 mb-0">{{ title }}</span>
          <span *ngIf="subtitle">{{subtitle}}</span>
        </span>
        <span
          aria-hidden="true"
          class="d-none d-md-inline"
        >{{ (accordion.isExpanded(id) ? 'common.hide' : 'common.show') | translate }}</span>
      </span>
    </ng-template>

    <ng-template ngbPanelContent>
      <ng-content></ng-content>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
